@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&family=Kalam:wght@700&display=swap');

:root {
  --background-color: #efebec;
  /* The intrinsic width of the underline stroke (in pixels). This is 
   * the same as the height of the cap images. Don't specify the
   * units! This is because of some of the calculations we do later on. */
  --underline-intrinsic-width: 8;

  /* The actual width of the underline stroke we want to render (in pixels).
   * You can modify this, and the sizing and positioning should be calculated
   * accordingly. Again, Don't specify the units! */
  --underline-width: 16;

  /* The colour used to draw the underline. It should match the colour
   * used in the cap images... unfortunately we can't modify the SVG
   * fill via CSS because it's a background image. */
  --underline-color: #efebec;

  /* We need to know the width of the cap images so that we
   * can position everything on the x axis accordingly. */
  --underline-cap-width: 4px;

  /* The border is positioned relative to the bottom of the line.
   * We can move it upwards a little to create an overlap effect. */
  --underline-offset-y: -2px;

  /* The padding to add to the x axis. By default, the caps would be
   * aligned with the beginning and end of the line. */
  --underline-padding-x: 0.12em;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand";
  background-color: var(--background-color);
  margin: 0;
}

/* HEADER */

.header {
  background-color: #ffffff;
  margin: 20px 40px;
  overflow: hidden;
}

.nav {
  padding-top: 20px;
  display: flex;
  position: relative;
}

.nav ul li {
  display: inline;
  list-style: none;
}

.links {
  display: inline-block;
  margin: 0 40px;
  text-transform: uppercase;
  font-size: 1.2rem;
  width: 100%;
}

.links ul li {
  margin-right: 10px;
}

.link {
  position: relative;
  transition: all 0.3s ease-in-out;
}

.link::before,
.link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0px;
  height: 2px;
  margin: 5px 0 0;
  opacity: 0;
  background-color: #4B1F0E;
  transition: all 0.3s ease-in-out;
  transition-duration: 0.75s;
}

.link:hover:before,
.link:hover:after {
  content: "";
  width: 100%;
  opacity: 1;
}

.link a {
  text-decoration: none;
  color: #000;
  font-weight: 300;
}

.contact {
  float: right;
  padding: 5px 10px;
  font-weight: 300;
  text-align: center;
  border-radius: 8px;
  background-color: #efebec;
  transition: transform 0.3s ease;
}

.contact:hover {
  transform: scale(1.05);
  font-weight: 400;
}

.contact a {
  text-decoration: none;
  color: #000;
}

.logo {
  font-family: "Kalam";
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 0.5rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 40px;
}

.header-container img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 20px;
}

.header-text {
  width: 70%;
  line-height: 1.5rem;
}

.header-greetings {
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  position: relative;
  z-index: 100;

  display: inline;
  --underline-width-scale: calc(var(--underline-width) / var(--underline-intrinsic-width));
  padding: 0 10px;
  box-decoration-break: clone;
  background-repeat: no-repeat;
  background-image:
    linear-gradient(180deg, var(--underline-color), var(--underline-color));
  background-position-x:
    calc(var(--underline-cap-width) * var(--underline-width-scale)),
    0,
    100%;
  background-position-y: calc(100% - var(--underline-offset-y) * -1);
  background-size:
    calc(100% - calc(var(--underline-cap-width) * var(--underline-width-scale) * 2)) calc(var(--underline-width) * 1px),
    auto calc(var(--underline-width) * 1px),
    auto calc(var(--underline-width) * 1px);
}

.header-experience {
  width: 100%;
  margin-top: 20px;
}

#header-exp-title {
  text-decoration: overline 3px;
  text-decoration-color: var(--background-color);
  line-height: 1.5rem;
}

.exp-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

/* .exp {
  display: inline;
} */

/* .exp:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}

.exp::after {
  content: '|';
  padding: 0 20px;
}

.exp:last-child::after {
  content: ''
} */

/* MAIN */

.main {
  margin: 20px;
}

.main-title {
  display: block;
  width: 100%;
  margin: 40px auto 20px;
  font-family: 'Kalam';
  font-size: 1.5rem;
  text-align: center;
}

.own-projects {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.project {
  background-color: rgba(255, 255, 255, 0.3);
  margin: 20px;
  padding: 10px;
  /* padding: 40px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 3px dotted #fff;
  perspective: 1000px;
  /* position: relative; */
  min-height: 350px;
  object-fit: cover;
}

.project-inner:hover {
  transform: rotateY(180deg);
}

.project-inner {
  position: relative;
  height: 100%;
  width: 100%;
  transition-duration: 0.6s;
  transition-timing-function: ease-in-out;
  transform-style: preserve-3d;
}

.project-front,
.project-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  backface-visibility: hidden;
  transform: rotateX(0deg);
}

.project-inner .project-front {
  z-index: 2;
}

.project-inner .project-back {
  transform: rotateY(180deg);
}

.project-front {
  cursor: pointer;
}

.project-front img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  z-index: 3;
}

.project-back {
  padding: 10px;
  font-size: 0.8rem;
  overflow: scroll;
}

.project-back h4 {
  font-size: 1rem;
  line-height: 0rem;
}

.project-back-source a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
}

.project-back-button {
  color: #fff;
  background-color: #4B1F0E;
  font-family: inherit;
  padding: 10px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
}

.project-back-button:hover {
  transform: scale(1.05);
  font-weight: bold;
}

.project-back-inner {
  display: flex;
}

.project-front-end,
.project-back-end {
  margin: 0 10px;
  width: 50%;
}

.project-link {
  text-decoration: none;
  color: #000;
}

.project-link:hover {
  font-weight: bold;
}



.project-photo {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  background-size: cover;
  background-position: center center;
}

.project-photo::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 1000;
  text-decoration: none;
  color: #ffffff;
  font-family: 'Kalam';
}

.project-photo::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(75, 31, 14, 0.7);
  z-index: 100;
}

.project-reflex .project-photo::before {
  content: 'REFLEX-REALITY';
}

.project-tetris .project-photo::before {
  content: 'TETRIS APP'
}

.project-videodb .project-photo::before {
  content: 'VIDEO GAMES DATABASE'
}

.project-reflex .project-photo {
  background-image: url('images/reflex.png');
}

.project-tetris .project-photo {
  background-image: url('images/tetris_app.png');
}

.project-videodb .project-photo {
  background-image: url('images/games.png');
}

.project-description {
  margin-top: 40px;
}


/* SECTION - COURSE PROJECTS */

.main-part-2 {
  background-color: #ffffff;
  margin: 60px 20px;
  padding: 20px 0 40px 0;
  overflow: hidden;
}

.course-projects {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.project.project-course {
  background-color: rgba(75, 31, 14, 0.1);
  border: 2px dotted #4B1F0E;
}

/* .project-photo.course::before {
  color: rgb(0, 0, 0);
} */

/* .project-photo.course::after {
  background-color: rgba(75, 31, 14, 0.8);
} */

.project-crown .project-photo::before {
  content: 'CRWN-CLOTHING'
}

.project-crown .project-photo {
  background-image: url('images/crwn.png');
}

.project-social .project-photo::before {
  content: 'SOCIAL MEDIA'
}

.project-social .project-photo {
  background-image: url('images/social.png');
}

.project-yelp .project-photo::before {
  content: 'YELPCAMP'
}

.project-yelp .project-photo {
  background-image: url('images/yelpcamp.png');
}

.project-color .project-photo::before {
  content: 'COLOR PICKER'
}

.project-color .project-photo {
  background-image: url('images/color-picker.png');
}

.project-travel .project-photo::before {
  content: "LET'S TRAVEL"
}

.project-travel .project-photo {
  background-image: url('images/travelapp.png');
}

.project-node .project-photo::before {
  content: 'BEAUTY SHOP'
}

.project-node .project-photo {
  background-image: url('images/node_app.png');
}

#section-outro {
  margin-top: 60px;
  text-align: center;
}

/* COURSES AND CERTIFICATES */

.courses {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.course {
  background-color: rgba(255, 255, 255, 0.3);
  border: 3px dotted #fff;
  padding: 20px;
  margin: 20px;
  text-align: center;
}

.course p {
  text-align: left;
  font-size: 0.8rem;
}

.certificate-img {
  width: 150px;
  border-radius: 5px;
}

/* FOOTER */

.footer {
  margin: 40px;
}

.footer-title {
  display: block;
  width: 100%;
  /* margin: 40px auto 20px; */
  font-family: 'Kalam';
  font-size: 1.5rem;
  text-align: center;
}

.footer-text {
  margin: 0 80px 80px;
  line-height: 1.5rem;
  text-align: center;
}

.footer-copyright {
  text-align: center;
  font-size: 0.8rem;
}


/* MEDIA QUERIES */

@media(max-width: 1100px) {
  .header-text {
    margin-top: 40px;
  }

  .own-projects,
  .course-projects {
    grid-template-columns: 1fr;
  }

  .courses {
    grid-template-columns: 1fr;
  }

  .course p {
    text-align: center;
  }

  /* .project {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
  } */

  .footer-text {
    margin: 0 40px 40px;
  }
}