@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&family=Kalam:wght@700&display=swap');

:root {
  --background-color: #efebec;
  --darkbrown-color: #4B1F0E;
  --underline-intrinsic-width: 8;
  --underline-width: 16;
  --underline-offset-y: -2px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand";
  background-color: var(--background-color);
  margin: 0;
}

/* HEADER */

.header {
  background-color: #ffffff;
  margin: 20px 40px;
  overflow: hidden;
}

.nav {
  margin-top: 40px;
  height: 15vh;
  position: relative;
}

.nav ul li {
  display: inline;
  list-style: none;
}

.logo {
  font-family: "Kalam";
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 0.5rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.contact {
  float: right;
  padding: 5px 10px;
  margin-right: 40px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  border-radius: 8px;
  background-color: var(--background-color);
  transition: transform 0.3s ease;
}

.contact:hover {
  transform: scale(1.05);
  font-weight: 400;
}

.contact a {
  text-decoration: none;
  color: #000;
}

.links {
  margin: 0 40px;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.links ul li {
  margin-right: 10px;
}

.link {
  position: relative;
  transition: all 0.3s ease-in-out;
}

.link::before,
.link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0px;
  height: 2px;
  margin: 5px 0 0;
  opacity: 0;
  background-color: var(--darkbrown-color);
  transition: all 0.3s ease-in-out;
  transition-duration: 0.75s;
}

.link:hover:before,
.link:hover:after {
  content: "";
  width: 100%;
  opacity: 1;
}

.link a {
  text-decoration: none;
  color: #000;
  font-weight: 300;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 40px;
}

.header-container img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 20px;
}

.header-text {
  width: 70%;
}

.header-greetings {
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  z-index: 100;
  display: inline;
  --underline-width-scale: calc(var(--underline-width) / var(--underline-intrinsic-width));
  box-decoration-break: clone;
  background-repeat: no-repeat;
  background-image:
    linear-gradient(180deg, var(--background-color), var(--background-color));
  background-position-y: calc(100% - var(--underline-offset-y) * -1);
  background-size: 100% 40%;
}

.header-text p {
  line-height: 1.5rem;
}

.header-experience {
  width: 100%;
  margin-top: 20px;
}

#header-exp-title {
  text-decoration: overline 3px;
  text-decoration-color: var(--background-color);
  line-height: 1.5rem;
}

.exp-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}


/* MAIN */

.main {
  margin: 20px;
}

.main-title {
  display: block;
  width: 100%;
  margin: 40px auto 20px;
  font-family: 'Kalam';
  font-size: 1.5rem;
  text-align: center;
}

.own-projects {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.project {
  background-color: rgba(255, 255, 255, 0.3);
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 3px dotted #fff;
  perspective: 1000px;
  min-height: 350px;
  object-fit: cover;
}

.project-inner:hover {
  transform: rotateY(180deg);
}

.project-inner {
  position: relative;
  height: 100%;
  width: 100%;
  transition-duration: 0.6s;
  transition-timing-function: ease-in-out;
  transform-style: preserve-3d;
}

.project-front,
.project-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  transform: rotateX(0deg);
}

.project-inner .project-front {
  z-index: 2;
}

.project-inner .project-back {
  transform: rotateY(180deg);
}

.project-front {
  cursor: pointer;
}

.project-front img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  z-index: 3;
}

.project-back {
  padding: 10px;
  font-size: 0.8rem;
  overflow: scroll;
}

.project-back h4 {
  font-size: 1rem;
  line-height: 0rem;
}

.project-back-source a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.project-back-source a:hover {
  color: var(--darkbrown-color);
}

.project-back-button {
  color: #fff;
  background-color: var(--darkbrown-color);
  font-family: inherit;
  padding: 10px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
}

.project-back-button:hover {
  transform: scale(1.05);
  font-weight: bold;
}

.project-back-inner {
  display: flex;
}

.project-front-end,
.project-back-end {
  margin: 0 10px;
  width: 50%;
}

.project-link {
  text-decoration: none;
  color: #000;
}

.project-link:hover {
  font-weight: bold;
}


/* SECTION - COURSE PROJECTS */

.main-part-2 {
  background-color: #ffffff;
  margin: 60px 20px;
  padding: 20px 0 40px 0;
  overflow: hidden;
}

.course-projects {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.project.project-course {
  background-color: rgba(75, 31, 14, 0.1);
  border: 2px dotted var(--darkbrown-color);
}

#section-outro {
  margin-top: 60px;
  text-align: center;
}


/* FOOTER */

.footer {
  margin: 40px;
}

.footer-title {
  display: block;
  width: 100%;
  font-family: 'Kalam';
  font-size: 1.5rem;
  text-align: center;
}

.footer-text {
  margin: 0 80px 80px;
  line-height: 1.5rem;
  text-align: center;
}

.footer-copyright {
  text-align: center;
  font-size: 0.8rem;
}


/* MEDIA QUERIES */

@media(max-width: 1100px) {
  .header-container {
    padding: 20px 30px;
  }

  .header-text {
    margin-top: 40px;
  }

  .exp-list {
    display: flex;
    justify-content: center;
  }

  .exp {
    margin-right: 20px;
    margin-bottom: 10px;
  }

  .own-projects,
  .course-projects {
    grid-template-columns: 1fr;
  }

  .footer-text {
    margin: 0 40px 40px;
  }
}

@media(max-width: 900px) {

  .nav {
    margin-top: 0;
  }

  .header-container img {
    margin-right: 0;
  }

  .header-text {
    width: 100%;
  }

  .logo {
    font-size: 2rem;
    top: 60px;
  }

  .contact {
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 0;
  }

  .header-greetings {
    font-size: 1.5rem;
  }

  .header-experience {
    margin: 0;
  }

  #header-exp-title {
    text-align: center;
  }
}

@media(max-width: 800px) {
  .nav {
    height: 20vh;
  }

  .header-text {
    text-align: center;
  }

  .footer {
    margin: 10px;
  }
}

@media(max-width: 400px) {
  .logo {
    font-size: 1.6rem;
    top: 50px;
  }

  .header-greetings {
    letter-spacing: 0.1rem;
    font-size: 1.3rem;
  }
}